/*
 * reset
 */
*{margin:0;padding:0;border:0;  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;}

/*
 * global style
 */
body,html{
	
	
	width:100%;height:100%;overflow:hidden}
body{line-height:1;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:100%;color:#fff;background:#222}


/*********************************************
 * HEADERS
 *********************************************/
h1,h2,h3,h4,h5,h6{margin:0 0 20px;color:#fff;font-family:"Source Sans Pro",'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:600;line-height:1.2;letter-spacing:normal;text-transform:uppercase;text-shadow:none;word-wrap:break-word}
h1{font-size:2.5em;text-shadow:none}
h2{font-size:1.6em}
h3{font-size:1.3em}
h4{font-size:1em}

/**
 * slidrr
 */

.slidrr {
	font-size: 38px;
	font-weight: normal;
	text-align: center;
	
	margin: auto;
	overflow: visible;
	
	-webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
	
}

.container 
{
	width: 100%;
	height:100%;

	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}

-webkit-full-screen{width:100%;height:100%}

/*
 * controle
 */
.controls{position:absolute;bottom:20px;left:20px;z-index:2}
.arrow{width:0;height:0;border:20px solid #42affa;float:left;margin-right:30px}
.next,.prev{border-top-color:transparent;border-bottom-color:transparent}
.prev{border-left-color:transparent;border-left-width:0;border-right-width:30px}
.next{border-right-color:transparent;border-left-width:30px;border-right-width:0}

/*
 * progressbar
 */
.progress{position:fixed;top:0;left:0;right:0;height:3px;z-index:3;background:rgba(0,0,0,.2)}
.progress-bar{width:0;height:3px;background:#42affa;-webkit-transition:width .8s cubic-bezier(.26,.86,.44,.985);-moz-transition:width .8s cubic-bezier(.26,.86,.44,.985);transition:width .8s cubic-bezier(.26,.86,.44,.985)}

/*
 * show hide
 */

.hidden {display:none}

.slide-show {
	-webkit-transition: translateX(0%);
    -moz-transition: translateX(0%);
    -o-transition: translateX(0%);
	transform: translateX(0%);
}

.slide-hide {
	-webkit-transition: translateX(-100%);
    -moz-transition: translateX(-100%);
    -o-transition: translateX(-100%);
	transform: translateX(-100%);
}




.help {
	background-color: white;
	margin: auto;
	width: 500px;
	top:-1000px;
	position: absolute;
}

.logo{
	width: 70px;
	height: 70px;
	position: absolute;
	right: 10px;
	top: 10px;
	background-image: url('img/slidrr.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


.footer{

}